.icon {
	font-size: 70px;
	opacity: 0.2;
	transition: 0.3s;
}
.card {
	position: unset;
	max-width: unset;
	box-shadow: unset;
	text-align: left;
}
.pages li {
	color: #5793fb;
	padding: 0;
}
.pages li a {
	padding: 0.5rem 1rem;
	transition: 0.3s;
}
.pages li a:hover {
	background-color: #5793fb;
}
.pages li:hover {
	color: #fff;
}
