.profile p {
	margin-bottom: 0;
}
.profile .card h1 {
	margin-bottom: 0;
}
.profile .card {
	position: initial;
	display: block;
	max-width: unset;
	margin: unset;
	box-shadow: none;
	text-align: left;
}
.profile-image-box {
	/* width: 200px;
	height: 200px; */
	border-radius: 50%;
	overflow: hidden;
}
.profile-image-box img {
	/* width: 320px; */
	/* min-height: 200px; */
	width: 164px;
	height: 164px;
	object-fit: cover;
}
