@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
	font-family: "Roboto", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
	/* HEX */
	--bg-header: #f0f0f0;
	--btn-primary: #5793fb;
	--bg-green: #e7fde8;

	/* RGB */
	--btn-green: rgba(49, 151, 149, 1);
}
.bg-header {
	background-color: var(--bg-header);
}
.bg-green {
	background-color: var(--bg-green);
}
.btn-primary {
	background-color: var(--btn-primary) !important;

}
.btn-success {
	background-color: var(--btn-green) !important;
	border: unset !important;
}
.register.container-fluid,
.login.container-fluid {
	padding-left: unset;
	padding-right: unset;
}
.card {
	max-width: 615px;
	margin: 0 auto;
	background-color: var(--bg-header) !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
